<div class="container login-bg h-70 shadow-lg rounded">
    <div class="banner-inner">
        <div class="row justify-content-center">
            <div class="wrapper">
                <!-- Sidebar -->
                <nav id="sidebar">
                    <div class="sidebar-header">
                        <h3>Menu</h3>
                    </div>
                    <ul class="list-unstyled components">
                        <li>
                            <a [routerLink]="['account_summary']">Account Summary</a>
                        </li>
                        <li>
                            <a [routerLink]="['deposit']">Deposit Fund</a>
                        </li>
                        <li>
                            <a [routerLink]="['withdraw']">Withdraw Fund</a>
                        </li>
                        <li>
                            <a [routerLink]="['transfer']">Fund Transfer</a>
                        </li>
                        <li>
                            <a [routerLink]="['transaction_statements']">Transaction History</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <a [routerLink]="['my_profile']">My Profile</a>
                        </li>
                        <li>
                            <a [routerLink]="['auth/logout']">Logout</a>
                        </li>
                    </ul>
                </nav>
                <!-- Page Content -->
                <div class="container inner-content">
                    <div class="col">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>