<h4>Account Summary</h4>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Card No</th>
                <th>Account Balance</th>
                <th>Overdraft Limit</th>
                <th>Card Holder Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{acc_summary.user_card_no}}</td>
                <td>{{acc_summary.account_balance}}</td>
                <td>{{acc_summary.overdraft_limit}}</td>
                <td>{{acc_summary.user_name}}</td>
                <td><button type="input" class="btn btn-info" (click)="view_statement()">View</button></td>
            </tr>
        </tbody>
    </table>
</div>