<h4>Transaction History</h4>
<div class="float-right">Closing Balance:{{closing_balance }}</div>
<p-table [value]="trans_logs" (onPageChange)="paginate($event)" [paginator]="true" [rows]="4" [totalRecords]="totalRecords"
    [loading]="loading">
    <ng-template pTemplate="header">
        <tr>
            <th>Date of Transaction</th>
            <th>Amount</th>
            <th>Current Balance</th>
            <th>Reason</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-trans>
        <tr>
            <td>{{trans.date_of_transaction | date : 'yyyy-MM-dd'}}</td>
            <td>
                {{trans.amount}}
                <span *ngIf="trans.transaction_mode_id==1"><i class="fas fa-arrow-down"  data-fa-transform="rotate-45-right" style="color:green"></i></span>
                <span *ngIf="trans.transaction_mode_id==2"><i class="fas fa-arrow-up" data-fa-transform="rotate-45-right" style="color:red"></i></span>
            </td>
            <td>{{trans.current_balance}}</td>
            <td>{{trans.reason}}</td>

        </tr>
    </ng-template>
</p-table>

<br/>
<div class="alert alert-danger alert-dismissible fade show col-6" role="alert" *ngIf="showError">
    {{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>