<h4>My Profile</h4>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Phone No</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{user.user_name}}</td>
                <td>{{user.user_email}}</td>
                <td>{{user.user_phone}}</td>
            </tr>
        </tbody>
    </table>
</div>