<div class="card shadow-lg p-3 mb-5 rounded">
    <div class="card-header">
        <h3>SignIn</h3>
    </div>
    <div class="card-body">
        <form (ngSubmit)="authenticate(loginRequestForm)" #loginRequestForm="ngForm" name="loginRequestForm">
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" name="card_no" class="form-control" placeholder="Enter your 16 digits Card Number" numbersOnly maxlength="16"
                    minlength="16" id="card_no" required [(ngModel)]="card.card_no" #card_no="ngModel" autocomplete="off">
            </div>
            <div *ngIf="card_no?.errors && (card_no.dirty || card_no.touched)">
                <div [hidden]="!card_no.errors.required" class="danger">Card No is required*</div>
            </div>
            <div *ngIf="card_no?.errors?.minlength">
                <div class="danger"> Card No must be 16 digits long.</div>
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" name="password" id="password" class="form-control" placeholder="Enter your 4 digit PIN" numbersOnly
                    size="4" maxlength="4" minlength="4" required [(ngModel)]="card.password" #password="ngModel">
            </div>
            <div *ngIf="password?.errors && (password.dirty || password.touched)">
                <div [hidden]="!password.errors.required" class="danger">PIN is required*</div>
            </div>
            <div *ngIf="password?.errors?.minlength">
                <div class="danger">PIN No must be 4 digits long.</div>
            </div>
            <div class="form-group text-center">
                <button type="submit" [disabled]="!loginRequestForm.form.valid" class="btn float-right login_btn" >LOGIN</button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="showError">
                {{error}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </form>
    </div>
</div>