@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


html,body{ 
background-size: cover;
background-repeat: no-repeat;
height: 100%;
 
}
.container{
   outline: 1px solid auto;      
   align-content: center;
   
} 
 

.bg{
     background-image: url("./images/2.jpg");
     background-repeat: no-repeat;     
}

.login-bg{     
     background:#f0f8ff;
     width:75%;
}
 

.banner-inner {
    margin: 4em 0;
}

body {
    padding: 0;
    margin: 0;
    background: silver;
    font-family: 'Open Sans', sans-serif, Helvetica;
    
}
 

.form-group{
    color: #FFFFFF;
    font-size: 1em;
}

 .banner-inner .danger {
     color:maroon;
     font-style: bold;
 }
  
/** classes for sidebar **/
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;    
    /*background:#1f3057;*/
} 

#sidebar {
    min-width: 250px;
    max-width: 250px;  
    background:#1f3057; 
    color:#fff;
    transition: all 0.3s;
    text-align: center;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

 
#sidebar .sidebar-header {
    padding: 20px;
    background: #94bfac;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
    
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    color:white;
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-align: left;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}


.capitalize {
  text-transform: capitalize;
}

.alert-success{
    background-color: #b7d8b7;
    font-weight: 700;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
}



.container .inner-content{       
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.toggle{
    background-color: #1f3057;
    margin-top:6px;    
    margin-left:6px;
}

.col-form-label{
    color:#2b3770;
}

.table thead th {
    color: #2c3e75;
    font-weight: 500;
}

h4{
    color:#3b6879;
    text-align: center;
}

.table td, .table th{
    font-weight: 200;
}

.card{
    height: 370px;
    margin-top: 100px;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    background-image: url("./images/2.jpg");
    background-repeat: no-repeat;    
}

.card-header h3{
    color: white;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.card-body .danger{
    color:white;
}

 

 
 