<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h4 class="capitalize">{{transaction_mode}} Fund</h4>
        <hr>
        <form #transactionForm="ngForm" name="transactionForm" (ngSubmit)="transact(transactionForm)">
            <div class="form-group">
                <label for="current_balance" class="col-form-label">Current Balance:{{currentUser.account_balance}}</label>
            </div>
            <div *ngIf="transaction.is_transfer==1">
                <div class="form-group" >
                    <input type="text" name="dest_card_no" class="form-control" placeholder="Enter Payee Card No" numbersOnly maxlength="16"
                        minlength="16" required [(ngModel)]="transaction.dest_card_no" #dest_card_no="ngModel" autocomplete="off">
                </div>
                <div *ngIf="dest_card_no?.errors && (dest_card_no.dirty || dest_card_no?.touched)">
                    <div [hidden]="!dest_card_no.errors.required" class="danger">Payee Card No is required*</div>
                </div>
                <div *ngIf="dest_card_no?.errors?.minlength">
                    <div class="danger"> Card No must be 16 digits long.</div>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <input type="text" name="amount" class="form-control" placeholder="Amount" numbersOnly id="amount" required [(ngModel)]="transaction.amount"
                        #amount="ngModel" autocomplete="off">
                </div>
                <div *ngIf="amount?.errors && (amount.dirty || amount?.touched)">
                    <div [hidden]="!amount.errors.required" class="danger">Amount is required*</div>
                </div>
            </div>
            <div *ngIf="transaction.is_transfer==1">
                <div class="form-group">
                    <input type="text" name="reason" class="form-control" placeholder="Reason for transfer" maxlength="255" required autocomplete="off"
                        [(ngModel)]="transaction.reason" #reason="ngModel">
                </div>
                <div *ngIf="reason?.errors && (reason.dirty || reason?.touched)">
                    <div [hidden]="!reason.errors.required" class="danger">Reason is required*</div>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" [disabled]="!transactionForm.form.valid" class="btn btn-primary capitalize">{{transaction_mode}}</button>                
            </div>

            <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="isSuccess">
                Transaction Success!!!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="showError">
                {{error}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
        </form>
    </div>
    <div class="col-2"></div>
</div>